---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not found - 404" metaDescription="Page does not exist.">
    <section class="main-section-style modern-container text-section">
        <h1 class="text-align-center">Page Not Found - Error 404</h1>
        <p>The page you requested does not exist.</p>
    </section>
</BaseLayout>
