---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Unit Overview" metaDescription="Overview of all units available. Start with Unit 1 Chapter 1.">
	<section class="main-section-style">
        <div class="text-section center-container-style basic-flex-down-column margin-inline-auto max-width-readable">
			<h1>About</h1>
            <p>ToLearnKorean.com is a website made by Bryan Hogan to help other Korean learners. Want to get in contact? Do you have feedback? Want to contribute?</p>
        </div>
	</section>
</BaseLayout>