---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Unit Overview"
    metaDescription="Overview of all units available. Start with Unit 1 Chapter 1."
>
    <section class="main-section-style modern-container text-section">
        <h1 class="text-align-center">About</h1>
        <p>
            ToLearnKorean.com is a website made by <a
                href="https://bryanhogan.com">Bryan Hogan</a
            > to help other Korean learners. Want to get in contact? Do you have
            feedback? Want to contribute? Message me on one of my socials linked
            down below or through my personal page.
        </p>
    </section>
</BaseLayout>
<style></style>
