---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
    title="Unit Overview"
    metaDescription="Overview of all units available. Start with Unit 1 Chapter 1."
>
    <Hero title="About" subText="About ToLearnKorean.com" />
    <section class="modern-container text-section">
        <p>
            ToLearnKorean.com is a website made by <a
                href="https://bryanhogan.com">Bryan Hogan</a
            > to help other Korean learners. Want to get in contact? Do you have
            feedback? Want to contribute? Message me on one of my socials linked
            down below or through my personal page.
        </p>
        <p>Striving to be a open and quality source. Everything has been checked by native Korean speakers.</p>
    </section>
</BaseLayout>
