---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Unit Overview" metaDescription="Overview of all units available. Start with Unit 1 Chapter 1.">
	<section class="main-section">
		<div class="unit-overview-container">
			<h1>Unit Overview</h1>
		</div>
	</section>
</BaseLayout>