---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allEntriesPosts = await getCollection("posts");
import CardGrid from "../components/CardGrid.astro";
import { Image } from "astro:assets";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="Blog - ToLearnKorean" metaDescription="All blog posts on ToLearnKorean.com">
	<section class="modern-container">
		<div class="unit-overview-container">
			<Hero title="All Posts" subText="Find all blog posts here." />
			<CardGrid gtcolumns="1fr 1fr">
				{
					allEntriesPosts.map((post) => (
						<li class="post-item">
							<a href={`/post/${post.slug}`}>
								<Image
									src={post.data.cover as ImageMetadata}
									alt={post.data.coverAlt}
								/>
								<p class="post-title-text">{post.data.title}</p>
								<p>{post.data.description}</p>
							</a>
						</li>
					))
				}
			</CardGrid>
		</div>
	</section>
</BaseLayout>

<style>
	.post-item {
		min-width: none;
		border: 2px solid var(--color-side-1);
		border-radius: 1rem;
		overflow: hidden;
	}
	.post-item img {
		width: 100%;
		height: auto;
		object-fit: contain;
		border-bottom: 1px solid var(--color-side-1);
	}
	.post-item a {
		text-decoration: none;
	}
	.post-item p {
		color: var(--color-side-1);
		padding-inline: var(--space-s);
		padding-block-end: var(--space-xss);
	}
	.post-title-text {
		font-size: 1.125em;
	}
	.unit-overview-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
