---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Welcome to Astro.">
	<main>
		<div class="example">
			<h1>Welcome to ToLearnKorean.com!</h1>
			<div class="imp"><p>Important message at the bottom about something really cool.</p></div>
		</div>
	</main>
</BaseLayout>

<style>
</style>
