---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import landingImage from "../assets/images/TLK-Landing-Image.png";
import Button from "../components/Button.astro";
import CardGrid from "../components/CardGrid.astro";
import Card from "../components/Card.astro";
---

<BaseLayout
	title="Start Learning Korean - ToLearnKorean.com"
	metaDescription="Get started on how to learn Korean. Your guide to help you understand."
>
	<section class="landing-page-intro-container">
		<div class="first-group-container">
			<Image
				src={landingImage}
				alt="Menu bar icon simple soft white color only"
				class="logo-landing-page"
				width={landingImage.width}
				height={landingImage.height}
			/>
			<div class="text-group" style="max-width: 500px;">
				<h1>
					Learn Korean now<br /> with ToLearnKorean.
				</h1>
				<p>
					Your reliable helper to learn Korean.<br />Master reading,
					writing, understanding, and speaking Korean.
				</p>
			</div>
		</div>
		<ul class="button-group-layout">
			<li>
				<Button
					buttonStyle="gradient large grow"
					href="/overview"
					text="Start Your Journey"
				/>
			</li>
			<li>
				<Button
					buttonStyle="side-color large grow fixed-medium-width"
					href="/overview"
					text="Chapters"
				/>
			</li>
			<li>
				<Button
					buttonStyle="side-color large grow fixed-medium-width"
					href="/posts"
					text="Posts"
				/>
			</li>
		</ul>
	</section>
	<article style="padding-inline: 1rem">
		<CardGrid>
			<Card title="Start From Zero" icon="book">
				<p>
					We all start somewhere, this is your chance. Start with Unit
					1.
				</p>
				<Button
					slot="last-row"
					buttonStyle="accent-color medium grow"
					href="/overview"
					text="Unit Overview"
				/>
			</Card>
			<Card title="Learn Hangul" icon="megaphone">
				<p>
					Get started with the first chapter of unit 1 and learn to
					read Korean.
				</p>
				<Button
					slot="last-row"
					buttonStyle="accent-color medium grow"
					href="/unit-1/korean-alphabet-hangul"
					text="Yes!"
				/>
			</Card>
			<Card title="Latest Updates" icon="lightbulb" gridHeight={"2"}>
				<ul class="list">
					<li>
						<a href="/unit-1/korean-alphabet-hangul"
							>The Korean Alphabet - Hangul</a
						>
					</li>
				</ul>
			</Card>
			<Card title="What is this page About?" icon="megaphone">
				<p>Read more about ToLearnKorean.com. (Page not made yet)</p>
				<Button
					slot="last-row"
					buttonStyle="accent-color medium grow"
					href="#"
					text="See About"
				/>
			</Card>
			<Card title="Notice" icon="star">
				<p>This page is still in the middle of being built.</p>
			</Card>
		</CardGrid>
	</article>
</BaseLayout>

<style>
	.landing-page-intro-container {
		min-height: calc(80svh - var(--navbar-height));
		padding-top: 2rem;
		padding-inline: 1rem;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& .first-group-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		& .text-group {
			& > p {
				padding-top: 1em;
			}
		}
		& .logo-landing-page {
			height: 130px;
			width: auto;
		}
	}
	.button-group-layout {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 2em;
	}
	@media only screen and (max-width: 699px) {
		.button-group-layout :first-child {
			width: 100%;
			align-self: center;
			display: flex;
			justify-content: center;
		}
		.landing-page-intro-container {
			& .first-group-container {
			}
			& .text-group {
				/* Might need to be put elsewhere */
				word-break: keep-all;
				line-break: strict;
			}
			& .logo-landing-page {
				margin-bottom: 1em;
			}
		}
	}
	@media only screen and (min-width: 700px) {
		.landing-page-intro-container {
			& .first-group-container {
				flex-direction: row-reverse;
				align-items: flex-start;
			}
			& .logo-landing-page {
				margin-left: 1rem;
				height: 180px;
				transform: translateY(-44px);
			}
		}
		.button-group-layout {
			gap: 1em;
		}
	}
</style>
