---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import landingImage from "../assets/images/TLK-Landing-Image.png";
import Button from "../components/Button.astro";
import CardGrid from "../components/CardGrid.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Start Learning Korean">
	<section class="landing-page-intro-container">
		<div class="first-group-container">
			<Image
				src={landingImage}
				alt="Menu bar icon simple soft white color only"
				class="logo-landing-page"
				width={landingImage.width}
				height={landingImage.height}
			/>
			<div class="text-group">
				<h1>
					Welcome! 안녕하세요!<br />Start learning Korean now.
				</h1>
				<p>Your helper to learn Korean. Precise, reliant and simple.</p>
			</div>
		</div>
		<ul class="button-group-layout">
			<li>
				<Button
					buttonStyle="gradient large grow"
					href="/overview"
					text="Start Your Journey"
				/>
			</li>
			<li>
				<Button
					buttonStyle="side-color large grow fixed-medium-width"
					href="/posts"
					text="Posts"
				/>
			</li>
			<li>
				<Button
					buttonStyle="side-color large grow fixed-medium-width"
					href="#"
					text="About"
				/>
			</li>
		</ul>
	</section>
	<article style="padding-inline: 1rem">
		<CardGrid>
			<Card title="Start From Zero" icon="book">
				<p>
					We all start somewhere, this is your chance. Start with Unit
					1.
				</p>
				<Button
					slot="last-row"
					buttonStyle="accent-color medium grow"
					href="/overview"
					text="Unit Overview"
				/>
			</Card>
			<Card title="Featured Post" icon="megaphone">
				<p>
					There could be something interesting here! This text will be
					about a featured post.
				</p>
				<Button
					slot="last-row"
					buttonStyle="accent-color medium grow"
					href="#"
					text="Read More"
				/>
			</Card>
			<Card title="Latest Posts" icon="lightbulb" gridHeight={"2"}>
				<ul class="list">
					<li><a href="#">Item 1</a></li>
					<li><a href="#">Item 2</a></li>
					<li>
						<a href="#"
							>Item 3 - This description is going to be a bit
							longer than ususal.</a>
					</li>
					<li><a href="#">Item 4</a></li>
					<li>
						<a href="#"
							>Item 5 - This description is going to be a bit
							longer than ususal.</a>
					</li>
					<li>
						<a href="#"
							>Item 6 - This description is going to be a bit
							longer than ususal.</a>
					</li>
				</ul>
			</Card>
			<Card title="Detailed Guides" icon="megaphone">
				<p>Find our overview of all detailed guides made.</p>
				<Button
					slot="last-row"
					buttonStyle="accent-color medium grow"
					href="#"
					text="Guide Overview"
				/>
			</Card>
			<Card title="Latest News" icon="star">
				<p>
					Text will consist of the description of the latest news
					post.
				</p>
				<Button
					slot="last-row"
					buttonStyle="accent-color medium grow"
					href="#"
					text="Read More"
				/>
			</Card>
		</CardGrid>
	</article>
</BaseLayout>

<style>
	.landing-page-intro-container {
		min-height: calc(80svh - var(--navbar-height));
		padding-top: 2em;
		padding-inline: 1em;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& .first-group-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		& .text-group {
			& > p {
				padding-top: 1em;
			}
		}
		& .logo-landing-page {
			height: 130px;
			width: auto;
		}
	}
	.button-group-layout {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 2em;
	}
	@media only screen and (max-width: 699px) {
		.button-group-layout :first-child {
			width: 100%;
			align-self: center;
			display: flex;
			justify-content: center;
		}
		.landing-page-intro-container {
			& .first-group-container {
			}
			& .text-group {
				/* Might need to be put elsewhere */
				word-break: keep-all;
				line-break: strict;
			}
			& .logo-landing-page {
				margin-bottom: 1em;
			}
		}
	}
	@media only screen and (min-width: 700px) {
		.landing-page-intro-container {
			& .first-group-container {
				flex-direction: row-reverse;
				align-items: flex-start;
			}
			& .logo-landing-page {
				margin-left: 1rem;
				height: 180px;
				transform: translateY(-44px);
			}
		}
		.button-group-layout {
			gap: 1em;
		}
	}
</style>
