---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import previewImage from "../assets/images/Unit-1.png";
import { getCollection } from "astro:content";
import CardGrid from "../components/CardGrid.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
const allEntriesUnit1 = await getCollection("unit-1");
---

<BaseLayout title="Unit Overview">
	<title slot="head">TEST</title>
	<section>
		<div class="unit-overview-container">
			<h1>Unit Overview</h1>
			<ol class="decimal-list">
				<li>
					<p>First Unit</p>
					<ol>
						{
							allEntriesUnit1.map((chapter) => (
								<li>
									<a href={`/unit-1/${chapter.slug}`}>
										{chapter.data.title}
									</a>
								</li>
							))
						}
					</ol>
				</li>
			</ol>
		</div>
	</section>
</BaseLayout>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-inline: auto;
		max-width: 1300px;
		flex-wrap: wrap;
		height: 100%;
	}

	/* For the numbered decimal list */
	.decimal-list ol {
		list-style-type: none;
		counter-reset: item;
	}

	.decimal-list > li,
	.decimal-list ol > li {
		display: table;
		counter-increment: item;
	}

	.decimal-list > li:before,
	.decimal-list ol > li:before {
		content: counters(item, ".") ". ";
		display: table-cell;
		padding-right: 0.6rem;
	}

	.decimal-list ol > li {
		margin: 0;
	}

	.decimal-list ol > li:before {
		content: counters(item, ".") " ";
	}
</style>
