---
import Accordion from "../components/Accordion.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allEntriesUnit1 = await getCollection("chapters");
---

<BaseLayout title="Unit Overview" metaDescription="Overview of all units available. Start with Unit 1 Chapter 1.">
	<section class="modern-container">
		<div class="unit-overview-container">
			<Hero title="Unit Overview" subText="Overview of all units and their chapters."/>
			<ol class="decimal-list">
				<li>
					<p><strong>Unit 1 Introduction</strong></p>
					<ol>
						{
							allEntriesUnit1.map((chapter) => (
								<li>
									<a href={`/unit-1/${chapter.slug}`}>
										{chapter.data.title}
									</a>
								</li>
							))
						}
					</ol>
				</li>
			</ol>
		</div>
	</section>
</BaseLayout>

<style>
	.unit-overview-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
