---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allEntriesUnit1 = await getCollection("chapters");
---

<BaseLayout title="Unit Overview" metaDescription="Overview of all units available. Start with Unit 1 Chapter 1.">
	<section>
		<div class="unit-overview-container">
			<h1>Unit Overview</h1>
			<ol class="decimal-list">
				<li>
					<p><strong>Unit 1 Introduction</strong></p>
					<ol>
						{
							allEntriesUnit1.map((chapter) => (
								<li>
									<a href={`/unit-1/${chapter.slug}`}>
										{chapter.data.title}
									</a>
								</li>
							))
						}
					</ol>
				</li>
			</ol>
		</div>
	</section>
</BaseLayout>

<style>
	section {
		padding-top: 10svh;
		padding-inline: 0.5rem;
	}
	.unit-overview-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* For the numbered decimal list */
	.decimal-list ol {
		list-style-type: none;
		counter-reset: item;
	}
	.decimal-list > li,
	.decimal-list ol > li {
		display: table;
		counter-increment: item;
	}
	.decimal-list > li:before,
	.decimal-list ol > li:before {
		content: counters(item, ".") ". ";
		display: table-cell;
		padding-right: 0.6rem;
	}
	.decimal-list ol > li {
		margin: 0;
	}
	.decimal-list ol > li:before {
		content: counters(item, ".") " ";
	}
</style>
