---
import { Icons } from "../components/Icons";

interface Props {
	title: string;
	icon?: keyof typeof Icons;
}

const { title, icon } = Astro.props;
---

<li class="link-card">
	<h2>{title}</h2>
	<slot />
	<div class="last-row">
		<slot name="last-row" />
	</div>
	<svg
		class="icon"
		width="16"
		height="16"
		viewBox="0 0 24 24"
		fill="currentColor"
		set:html={Icons[icon]}
	/>
</li>

<style>
	li {
		background-color: var(--color-main-2);
		padding: 0.75rem;
		position: relative;
	}
	h2 {
		font-size: 1.375rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	li .last-row {
		max-width: 65%;
	}

	li .last-row :global(> *:last-child) {
	}
	li :global(.icon) {
		position: absolute;
		bottom: 1.5rem;
		right: 2rem;
		height: 20px;
		width: auto;
		max-width: 30px;
		z-index: 1;
	}
</style>