---
interface Props {
	title: string;
	icon?: string;
}
import { Image } from "astro:assets";
import menuIcon from "/src/assets/icons/Menu-Icon.svg";
const { title, icon } = Astro.props;
---

<li class="link-card">
	<h2>{title}</h2>
	<slot />
	<div class="last-row">
		<slot name="last-row" />
	</div>
	<slot name="icon" />
	<Image
		src={menuIcon}
		alt="Menu bar icon simple soft white color only"
		class="icon"
		width={menuIcon.width}
		height={menuIcon.height}
	/>
</li>

<style>
	li {
		background-color: var(--color-main-2);
		padding: 0.75rem;
		position: relative;
	}
	h2 {
		font-size: 1.375rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	li .last-row {
		max-width: 65%;
	}
	
	li .last-row :global(>*:last-child) {
	}
	li :global(.icon) {
		position: absolute;
		bottom: 1.5rem;
		right: 2rem;
		height: 20px;
		width: auto;
		max-width: 30px;
		z-index: 1;
	}
</style>
