---
import { Icons } from "../components/Icons";

interface Props {
	title?: string;
	icon?: keyof typeof Icons;
}

const { title, icon } = Astro.props;
---

<li class="link-card">
	{title && <h2>{title}</h2>}
	<slot />
	<div class="last-row">
		<slot name="last-row" />
		<svg
			class="icon"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="currentColor"
			set:html={Icons[icon]}
		/>
	</div>
</li>

<style>
	li {
		background-color: var(--color-main-2);
		padding: 0.75rem 1rem;
		display: flex;
		flex-direction: column;
		border-radius: 15px;
	}
	h2 {
		font-size: 1.375rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	li .last-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: auto;
	}
	.last-row :global(> *) {
	}
	li .last-row :global(> *:last-child) {
	}
	li :global(.icon) {
		margin-left: auto;
		margin-right: 5%;
		margin-top: 0.75rem;
		margin-bottom: 1.5%;
		align-self: center;
	}
</style>
