---
interface Props {
    title: string;
    subText?: string;
}

const { title = "ToLearnKorean.com", subText } = Astro.props;
---

<div class="hero-container modern-container">
    <h1>{title}</h1>
    <p>{subText}</p>
</div>

<style>
    .hero-container {
        padding-top: 10svh;
        padding-inline: 0.75rem;
        text-align: center;
        padding-bottom: var(--space-l);
    }
    h1 {
        margin-block-end: var(--space-m);
        width: fit-content;
        margin-inline: auto;
        background-image: var(--gradient);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 100% 4px;
    }
</style>
