---
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-main-1: #202124;
		--color-side-1: #e8ecf0;
		--color-accent-1: #a594d3;
	}

	*,
	*::before,
	*::after {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
		font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	}
	body {
		color: var(--color-side-1);
		background-color: var(--color-main-1);
		font-size: 1rem;
		min-width: 280px;
	}
	ul,
	ol {
		list-style: none;
	}
	html:focus-within {
		scroll-behavior: smooth;
	}
	a {
		color: var(--color-accent-1);
	}
	p,
	li {
		font-weight: 400;
		font-size: 1.125rem;
		letter-spacing: 0.2px;
		line-height: 1.6;
	}
</style>
