---
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
		
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	/* ################ Navigation ################
	1. Basic
	2, Layout (add)
	3. Typography
	4. Utility
	...
	*/
	:root {
		--color-main-1: #202124;
		--color-main-2: #23262d;
		--color-main-3: #84878A;
		--color-side-1: #e8ecf0;
		--color-accent-1: #a594d3;

		--grey-filter: brightness(0) saturate(100%) invert(57%) sepia(6%)
            saturate(183%) hue-rotate(169deg) brightness(92%) contrast(92%);
		--undo-grey-filter: brightness(0) saturate(100%) invert(86%) sepia(2%)
            saturate(892%) hue-rotate(187deg) brightness(114%) contrast(88%);

		--text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		--box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

		--gradient: linear-gradient(
			140deg,
			hsl(256deg 34% 62%) 0%,
			hsl(215deg 39% 52%) 61%,
			hsl(198deg 56% 39%) 83%,
			hsl(188deg 51% 32%) 100%
		); /*#8E7CBF + #286F7A */
		--navbar-height: 50px;

		
	}

	*,
	*::before,
	*::after {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
		font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	}
	body {
		color: var(--color-side-1);
		background-color: var(--color-main-1);
		font-size: 1rem;
		min-width: 280px;
	}
	main {
		min-height: calc(100svh - var(--navbar-height));
	}
	ul,
	ol {
		list-style: none;
	}
	html:focus-within {
		scroll-behavior: smooth;
	}

	/* ################ 3. Typography ################ */
	a {
		color: var(--color-accent-1);
	}
	p,
	li {
		font-weight: 400;
		font-size: 1.125rem;
		letter-spacing: 0.2px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.75rem;
	}
	h2 {
		font-size: 1.875rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	@media only screen and (max-width: 699px) {
		h1 {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.6rem; /* might need to adjust this */
		}
		h3 {
			font-size: 1.25rem; /* might need to adjust this */
		}
		h4 {
			font-size: 1.125rem; /* might need to adjust this */
		}
	}

	/* ################ 4. Utility ################ */
	.text-section {
		& > *:not(:first-child) {
			margin-block-start: 2em;
		}
		& > p {
			max-width: 700px;
		}
	}
</style>
