---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
	post: CollectionEntry<"unit-1">;
}
const { post } = Astro.props;
const { Content, headings } = await post.render();
const { remarkPluginFrontmatter } = await post.render();
---

<BaseLayout title={post.data.title}>
	<section>
		<p>
			{post.data.title} — {remarkPluginFrontmatter.minutesRead} minutes reading
			time.
		</p>
		<slot />
	</section>
</BaseLayout>

<style>
	
</style>